# settings for JavaScript files
[*.{js,jsx,ts,tsx,json,md,css}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
quote_type = single